@mixin box($bgcolor:$color-text-light, $shadow: 0.1rem 0.1rem 0.1rem black) {
  background: $color-text-light;
  border-radius: 1rem;
  box-shadow: $shadow;
}

@mixin btn($shadow) {
  // @include box();
  border-radius: 10rem;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem auto;
  box-shadow: $shadow;
}

@mixin translucent(
  $color-base,
  $invert:null,
  $color-low:scale-color(adjust-color($color-base, $hue:15deg), $saturation: 30%, $lightness:-30%),
  $color-mid:$color-base,
  $color-high:scale-color($color-base, $lightness: 90%)
) {
  $direction: if($invert, to top, to bottom);
  background: $color-base;
  background: linear-gradient($direction, $color-high, $color-high 10%, $color-mid 30%, $color-low 70%);
}

@mixin gel($color-base, $color-text:white) {
  $color-text-shadow: tint($color-base, 10%);
  $color-hover-text-shadow: $color-text;

  @include translucent($color-base);
  // color: $color-text;
  box-shadow: inset 0 0 0.5rem $color-base;
  text-shadow: 1px 1px 1px $color-text-shadow, -1px -1px 1px $color-text-shadow;

  // &, &:hover, &:active { color: $color-text; }
  // &:hover { color: shade($color-base, 30%); text-shadow: -1px -1px 1px $color-text, 1px 1px 1px $color-text; }
  &, &:hover, &:active { color: $color-text; }
  &:hover {
    @include translucent(tint($color-base, 30%));
    box-shadow: 0 0 0.3rem $color-base, inset 0 0 0.5rem $color-base;
  }
  // &:hover { @include translucent(tint($color-base, 30%)); }
  &:active { @include translucent($color-base, true); }
}

@mixin gel_btn($color-base, $text-color:white, $shadow:0.1rem 0.1rem 0.2rem #222233) {
  @include btn($shadow);
  @include gel($color-base);
  box-shadow: inset 0 0 0.5rem $color-base, $shadow;   // must redo box-shadow, since declarations replace instead of append.
}

// @mixin etched-text($base-color) {
//   //Should look like darker $base-color with shadow as highlight
// }
//
// @mixin glow-border() {}
//
// @mixin glow-text() {}
