@function fps-contrast-color($bg-color, $dark: black, $light: white, $threshold: 50%) {
  // for use when compass isn't available
  @return if(lightness($bg-color) > $threshold, $dark, $light);
}

@function fps-shadow-levitate($color: black) { @return 0 0 0.1rem $color; } // Gives font subtle outline

@mixin fps-box($bgcolor:$color-text-light, $shadow: 0.1rem 0.1rem 0.1rem black) {
  background: $color-text-light;
  border-radius: 1rem;
  box-shadow: $shadow;
}

@mixin fps-pill($shadow) {
  // @include box();
  border-radius: 10rem;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem auto;
  box-shadow: $shadow;
}

@mixin fps-translucent_gradient(
  $color-base,
  $invert:null,
  $color-low:scale-color(adjust-color($color-base, $hue:15deg), $saturation: 30%, $lightness:-30%),
  $color-mid:$color-base,
  $color-high:scale-color($color-base, $lightness: 90%)
) {
  $direction: if($invert, to top, to bottom);
  background: $color-base;
  background: linear-gradient($direction, $color-high, $color-high 10%, $color-mid 30%, $color-low 70%);
}

@mixin fps-gel_gradient($color-base, $color-text:white) {
  $color-text-shadow: tint($color-base, 10%);
  $color-hover-text-shadow: $color-text;

  @include translucent_gradient($color-base);
  // color: $color-text;
  box-shadow: inset 0 0 0.5rem $color-base;
  text-shadow: 1px 1px 1px $color-text-shadow, -1px -1px 1px $color-text-shadow;

  &, &:hover, &:active { color: $color-text; }
  &:hover {
    @include translucent(tint($color-base, 30%));
    box-shadow: 0 0 0.3rem $color-base, inset 0 0 0.5rem $color-base;
  }
  &:active { @include translucent($color-base, true); }
}

@mixin fps-gel_btn($color-base, $text-color:white, $shadow:0.1rem 0.1rem 0.2rem #222233) {
  @include btn($shadow);
  @include gel_gradient($color-base);
  box-shadow: inset 0 0 0.5rem $color-base, $shadow;   // must redo box-shadow, since declarations replace instead of append.
}

@mixin fps-nav-bar($height: null) {
  //http://codepen.io/imohkay/pen/gpard
  // top level assumed to be <nav>
  ul {
    margin: 0;
    display: flex;
    li { flex: 1; }
  }

  & > ul > li,
  & > ul > li > a,
  & > ul > li > span {
    display: inline-block;
    width: 100%;
  }

  @if $height {
    &,
    & > ul,
    & > ul > li,
    & > ul > li > * {
      height: $height;
      line-height: $height; // required to vertically center text within navbar
    }
  }
}

@mixin fps-nav-belt($shadow: none) {
  @include nav-bar();

  & > ul { box-shadow: $shadow; }

  & > ul > li > .belt-buckle {
    margin-top: -10rem; margin-bottom: -10rem;
    border-radius: 10rem;
    box-shadow: $shadow;

    & > * { vertical-align: middle; }
  }
}

@mixin fps-metallic($bg-color, $curved:null, $edges:null, $link-color:white) {
  // Inspired by http://cssmenumaker.com/menu/bubble-wrap-horizontal-menu-bar
  $bg-gradient: to top,
  scale-color($bg-color, $lightness: -28.5%) 0%,
  scale-color($bg-color, $lightness: -14%) 50%,
  scale-color($bg-color, $lightness: 0%) 51%, // base color
  scale-color($bg-color, $lightness: -1%) 78%,
  scale-color($bg-color, $lightness: 73%) 100%;

  background: $bg-color;
  background: linear-gradient($bg-gradient);

  @if $curved {
    position: relative;  // to align ::after
    z-index: 1;

    &:after {
      content: "";
      width: 100%;
      height: 10%;
      position: absolute;
      border-top-left-radius: 25% 95%;
      border-top-right-radius: 25% 95%;
      background: linear-gradient(to top,
        scale-color($bg-color, $lightness: -14%) 0%, // dark color below midline
        scale-color($bg-color, $lightness: -10%) 100%);
      z-index: -1;
      bottom: 50%;
      left: 0;
    }
  }
}

@mixin fps-frosted-glass($color, $bg-alpha:0.25, $shadow-alpha: $bg-alpha + 0.2, $shadow-blur: 1rem) {
  background: change-color($color, $alpha: $bg-alpha);
  box-shadow: inset 0 0 2rem change-color($color, $alpha: $shadow-alpha);
}

@mixin fps-outlined-text($text-color: white, $shadow-color: fps-contrast-color($text-color)) {
  color: $text-color;
  text-shadow: fps-shadow-levitate($shadow-color);
}

@function fps-graded-glass-gradient($color) {
  @return linear-gradient(
    to bottom,
    change-color($color, $lightness: 60%, $alpha: 0.9) 0%,
    change-color($color, $alpha: 0.5) 40%
  );
}

@mixin fps-graded-glass($bg-color, $text-color: fps-contrast-color($bg-color), $shadow-color: fps-contrast-color($text-color)) {
  background: fps-graded-glass-gradient($bg-color);
  @include fps-outlined-text($text-color);
}
