@mixin box($bgcolor:$color-text-light, $shadow: 0.1rem 0.1rem 0.1rem black) {
  background: $color-text-light;
  border-radius: 1rem;
  box-shadow: $shadow;
}

@mixin btn($shadow) {
  // @include box();
  border-radius: 10rem;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem auto;
  box-shadow: $shadow;
}

@mixin translucent(
  $color-base,
  $invert:null,
  $color-low:scale-color(adjust-color($color-base, $hue:15deg), $saturation: 30%, $lightness:-30%),
  $color-mid:$color-base,
  $color-high:scale-color($color-base, $lightness: 90%)
) {
  $direction: if($invert, to top, to bottom);
  background: $color-base;
  background: linear-gradient($direction, $color-high, $color-high 10%, $color-mid 30%, $color-low 70%);
}

@mixin gel($color-base, $color-text:white) {
  $color-text-shadow: tint($color-base, 10%);
  $color-hover-text-shadow: $color-text;

  @include translucent($color-base);
  // color: $color-text;
  box-shadow: inset 0 0 0.5rem $color-base;
  text-shadow: 1px 1px 1px $color-text-shadow, -1px -1px 1px $color-text-shadow;

  // &, &:hover, &:active { color: $color-text; }
  // &:hover { color: shade($color-base, 30%); text-shadow: -1px -1px 1px $color-text, 1px 1px 1px $color-text; }
  &, &:hover, &:active { color: $color-text; }
  &:hover {
    @include translucent(tint($color-base, 30%));
    box-shadow: 0 0 0.3rem $color-base, inset 0 0 0.5rem $color-base;
  }
  // &:hover { @include translucent(tint($color-base, 30%)); }
  &:active { @include translucent($color-base, true); }
}

@mixin gel_btn($color-base, $text-color:white, $shadow:0.1rem 0.1rem 0.2rem #222233) {
  @include btn($shadow);
  @include gel($color-base);
  box-shadow: inset 0 0 0.5rem $color-base, $shadow;   // must redo box-shadow, since declarations replace instead of append.
}

// @mixin etched-text($base-color) { //   //Should look like darker $base-color with shadow as highlight // }
// @mixin glow-border() {}
// @mixin glow-text() {}

@mixin nav_belt($shadow: none) {
  // $link-padding-top: 0.7rem;
  // $nav-margin-top: 2rem;
  // $nav-height: 2rem + $link-padding-top;

  margin: 0;
  height: $nav-height;
  & > ul {
    margin: 0;
    box-shadow: $shadow;
  }
  & > ul > li { display: inline-block; }

  & > ul > li > a,
  & > ul > li > span {
    // padding: $link-padding-top 1rem;
    display: inline-block;
    // min-width: 6rem;
  }

  & > ul > li > a.buckle {
    margin: -10rem 1.5rem;
    padding: 0.8rem 1.5rem;
    border-radius: 10rem;
    min-width: 9rem;
    box-shadow: $shadow;
  }
}

/////////////////////////////////////////////////
// Bubble Wrap Metal Bar
// http://cssmenumaker.com/menu/bubble-wrap-horizontal-menu-bar
@function metallic-gradient($color, $direction:"to top") {
  @return unquote($direction),
  shade($color, 50%) 0%,
  shade($color, 40%) 50%,
  shade($color, 30%) 51%,
  shade($color, 31%) 78%,
  $color 100%;

  // shade($color, 20%) 0%,
  // shade($color, 10%) 50%,
  // shade($color, 0%) 51%,
  // shade($color, 1%) 78%,
  // tint($color, 30%) 100%;
}

@mixin old-metallic($bg-color, $curved:null, $edges:null, $link-color:white) {
  background: $bg-color;
  background: metallic-gradient($bg-color);

  @if $curved {
    position: relative;  // to align ::after
    z-index: 1;

    $bg-shadow-color: shade($bg-color, 40%);
    $bg-shadow-gradient: linear-gradient(to top, $bg-shadow-color 0%, shade($bg-shadow-color, 4%) 100%);

    &:after {
      content: "";
      width: 100%;
      height: 0.7rem;
      position: absolute;
      border-top-left-radius: 30% 0.4rem;
      border-top-right-radius: 30% 0.4rem;
      background: $bg-shadow-gradient;
      z-index: -1;
      bottom: 45%;
      left: 0;
    }
  }
}
@mixin metallic($bg-color, $curved:null, $edges:null, $link-color:white) {
  //assume base color is at mark 51%
  $color-shadow: shade($bg-color, 28.5%);
  $color-light: tint($bg-color, 73%);

  $bg-gradient: to top,
  scale-color($bg-color, $lightness: -28.5%) 0%,  //115
  scale-color($bg-color, $lightness: -14%) 50%,   //138
  scale-color($bg-color, $lightness: 0%) 51%,     //161
  scale-color($bg-color, $lightness: -1%) 78%,    //159
  scale-color($bg-color, $lightness: 73%) 100%;   //230

  // background goes on ul and a elements
  background: $bg-color;
  background: linear-gradient($bg-gradient);

  @if $curved {
    position: relative;  // to align ::after
    z-index: 1;

    &:after {
      content: "";
      width: 100%;
      height: 0.7rem;
      position: absolute;
      border-top-left-radius: 30% 0.4rem;
      border-top-right-radius: 30% 0.4rem;
      background: linear-gradient(to top,
        scale-color($bg-color, $lightness: -14%) 0%, //138
        scale-color($bg-color, $lightness: -10%) 100%); //132
      z-index: -1;
      bottom: 45%;
      left: 0;
    }
  }
}
