@import "settings";
@import "foundation.scss";
@import "fps_toolbox";

// sizes, fonts, and colors moved to _settings.scss

//////////////////////////
// universal elements selectors
body {
  font-family: Helvetica, Arial, sans-serif;
  color: $color-text-dark;
  text-align: center;

  background-image: radial-gradient( closest-corner,
                      hsla(0, 0, 0, 0.1) 0%,
                      hsla(0, 0, 0, 0.2) 100%
                    ),
                    image-url("images/minneapolis.jpg");
  background-repeat: repeat-y, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
  background-attachment: fixed, fixed;
}

h1, h2 { text-align: center; }

//////////////////////////
// classes
.btn {
  @include button();
  @include graded-glass($primary-color, $color-text-light);
}

//////////////////////////
// layout
#container-row {
  @include grid-row();
  width: 100%;

  @media #{$medium-up} {
    max-width: 55rem;
    margin-top: 1rem;
  }
  #container-column { @include grid-column($columns: 12, $center: true, $collapse: true); }
}

#sitehead {
  @include grid-row();
  #navlinks { @include grid-column($columns: 12, $collapse: true); }

  margin: 0 0 0.5rem 0;
  @media #{$medium-up} { margin: 0 0 2rem 0; }

}

#sitefoot {
  @include grid-row();

  margin: 0.5rem 0 0 0;
  @media #{$medium-up} { margin: 2rem 0 0 0; }

  ul { @include button-group-container(); }
  ul li { @include button-group-style(); }
  & .btn {
    padding: 0.5rem;
    font-size: .7rem;
  }
}

//////////////////////////
// Nav area
$logo-padding: 0rem;
$logo-height: 3rem;
$nav-height: $logo-padding + $logo-height;
$logo-padding-lg: 1rem;
$logo-height-lg: $logo-padding-lg * 3;
$nav-height-lg: $logo-padding-lg + $logo-height-lg; //4rem = 64px
#navbelt {
  @include graded-glass($nav-belt-color, $color-text-light);
  @include nav-bar($nav-height);
  #logo { max-height: $logo-height; }

  @media #{$medium-up} {
    @include nav-bar($nav-height-lg);
    #logo {max-height: $logo-height-lg; }
  }
}

.belt-btn {
  @media #{$medium-up} {
    font-size: 1.2rem; //19.2px = 1.5vw = 1.2rem
  }
  color: $color-text-light;
  transition: 0.5s;

  &:hover {
    background: $nav-belt-color;
    color: $color-text-light;
  }
}

.belt-btn.current { @include frosted-glass($color-text-light); }

//////////////////////////
// body
#main-card {
  background-color: $color-text-light;
  box-shadow: $shadow-main;
  padding: 0.5rem 2rem;
  text-align: left;
}

//////////////////////////
// page-specific
#twitter-wrapper { text-align: center; }
.contacts { margin-left: auto; margin-right: auto; }

body.index #main-card {
  color: $color-text-light;
  text-shadow: shadow-levitate($color-shadow);
  text-align: center;
  @include frosted-glass($color-text-light);
}

.fps-name {
  color: $color-text-light;
  font-size: 4.5rem;  //72px ~= 5.5vw
  margin: 20vh auto 0;  //20vh = 124.4px
}
.tagline { font-size: 1.5rem; } //24px ~= 1.8vw
.call-to-action { margin-top: 10vh; margin-bottom: 5vh; }
