@import "settings";
@import "foundation.scss";
@import "fps_toolbox";

// color palette moved to _settings.scss

body {
  background: $body-bg-color;
  font-family: Helvetica, Arial, sans-serif;
  color: $color-text-dark;
  text-align: center;
}

#container-row {
  @include grid-row();
  width: 100%;

  @media #{$medium-up} {
    width: 80rem;
    margin-top: 1rem;
  }

  #container-column {
    @include grid-column($columns: 12, $center: true, $collapse: true);
  }
}

#main-card {
  background-color: $color-text-light;
  border-radius: 1rem;
  box-shadow: $shadow-main;
  padding: 0.5rem 1rem;
  text-align: left;
  // @include box();
}

h1, h2 {
  text-align: center;
}


#sitehead {
  @include grid-row();
  #logo-wrapper { @include grid-column($columns: 4, $collapse: true); }
  #navlinks { @include grid-column($columns: 8, $collapse: true); }

  display: inline-flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}

#navlinks {
  ul {
    text-align: right;
    @include button-group-container();
    li {
      @include button-group-style();
      & > .btn {
        @include button($padding: $button-sml);
        margin: 0;
      }

      & > .current {

      }
    }
  }
}

li > a {
  background-color: $primary-color;
}

#logo-wrapper {
  text-align: left;
  a {
    @include gel_btn(hsl(215deg, 0%, 55%));
    padding: 0.5rem 2rem;
    margin: 0;

    display: inline-flex;
    align-items: center;
  }
}

#logo {
  max-height: 3.2rem;
}

#title {
  text-align: right;
  line-height: 0.90;
  font-size: 1.2rem;
  display: inline-block;
  color: $color-text-light;
  margin: 0 0.2rem 0 0;
}
