@import "settings";
@import "foundation.scss";
@import "fps_toolbox";

// color palette moved to _settings.scss

body {
  background: $body-bg-color;
  font-family: Helvetica, Arial, sans-serif;
  color: $color-text-dark;
  text-align: center;
}

#container-row {
  @include grid-row();
  width: 100%;

  @media #{$medium-up} {
    width: 55rem;
    margin-top: 1rem;
  }

  #container-column {
    @include grid-column($columns: 12, $center: true, $collapse: true);
  }
}

#sitehead {
  @include grid-row();
  #navlinks { @include grid-column($columns: 12, $collapse: true); }
}

#main-card {
  background-color: $color-text-light;
  // border-radius: 1rem;
  box-shadow: $shadow-main;
  padding: 0.5rem 1rem;
  text-align: left;
  // @include box();
}

h1, h2 { text-align: center; }

#logo { max-height: 3.4rem; }

#title {
  text-align: right;
  line-height: 0.90;
  font-size: 1.2rem;
  display: inline-block;
  color: $color-text-light;
  // margin: 0 0.2rem 0 0;
  margin: 0;
}

#twitter-wrapper { text-align: center; }
.contacts { margin-left: auto; margin-right: auto; }

$link-padding-top: 0.7rem;
$nav-margin-top: 2rem;
$nav-height: 2rem + $link-padding-top;
$nav-belt-color: rgb(161, 161, 161);
// $nav-belt-color: shade(silver, 15%);
#sitehead { margin: 0.5rem 0 2.5rem 0; }
#navbelt { @include nav_belt($shadow-main); }
// #navbelt ul { @include metallic($nav-belt-color); }
#navbelt ul { @include metallic($nav-belt-color); }
#navbelt ul a,
#navbelt ul .belt-btn {
  padding: $link-padding-top 1rem;
  min-width: 6rem;
  color: white;
  font-size: larger;
}
#navbelt ul a.belt-btn { @include metallic($nav-belt-color); }
#navbelt .buckle {
  @include metallic($nav-belt-color, $curved: true);
  h3, img { vertical-align: middle; }
}
#navbelt ul a.belt-btn:hover,
#navbelt .buckle:hover {
  box-shadow: 0rem 0.2rem 0.2rem white,
    0rem -0.2rem 0.2rem white;
}
