@import "settings";
@import "foundation.scss";
@import "fps_toolbox";
$fi-path: "../bower_components/foundation-icon-fonts"; //http://foundation.zurb.com/forum/posts/12670-foundation-icon-fonts-via-bower-help
@import "../bower_components/foundation-icon-fonts/foundation-icons";

// TODO: rename functions & selectors to fps-block__element
// TODO: refactor SASS to be more compact; e.g. eliminate unnecessary rules
// TODO: refactor _settings.scss

//////////////////////////
// universal elements selectors
body {
  font-family: Helvetica, Arial, sans-serif;
  color: $fps-color-text-dark;
  text-align: center;
  background: image-url("images/IDS-640.jpg") top / 100% auto no-repeat scroll $primary-color;

  @media #{$medium-up} {
    background: image-url("images/minneapolis-1024.jpg") top / cover no-repeat fixed;
  }
}

h1, h2 { text-align: center; }

//////////////////////////
// classes
.btn {
  @include button();
  @include fps-graded-glass($primary-color, $fps-color-text-light);
}

//////////////////////////
// layout
#container-row {
  @include grid-row();
  width: 100%;

  @media #{$medium-up} { max-width: 55rem; }
  #container-column { @include grid-column($columns: 12, $center: true, $collapse: true); }
}

#sitehead {
  @include grid-row();
  .navrow { @include grid-column($columns: 12, $collapse: true); }

  margin: 0 0 0.5rem 0;
  @media #{$medium-up} { margin: 0 0 2rem 0; }

}

#sitefoot {
  @include grid-row();
  margin: 0.5rem 0 0 0;
  @media #{$medium-up} { margin: 2rem 0 0 0; }
}

//////////////////////////
// Nav area
#nav-top {
  @include fps-nav-bar($fps-nav-height);
  #logo {max-height: $fps-logo-height; }
}

.belt-btn, .belt-label, .belt-btn:hover {
  @include fps-graded-glass($fps-nav-belt-color, $fps-color-text-light);
  color: $fps-color-text-light;
  border-left: 1px solid adjust-color($fps-nav-belt-color, $lightness:-15%, $alpha:-0.6);
  border-right: 1px solid adjust-color($fps-nav-belt-color, $lightness:15%, $alpha:-0.6);

  @media #{$medium-up} {
    font-size: 1.2rem; //19.2px = 1.5vw = 1.2rem
  }
}
.belt-btn {
  @include transition(background-color);
  &:hover { background-color: $fps-nav-belt-color; }
}

.belt-btn.current {
  @include fps-graded-glass($fps-color-text-light);
  border-left: 1px solid adjust-color($fps-color-text-light, $lightness:-15%, $alpha:-0.6);
  border-right: 1px solid adjust-color($fps-color-text-light, $lightness:15%, $alpha:-0.6);
}

#navbelt-small {
  @include fps-graded-glass($fps-nav-belt-color, $fps-color-text-light);
  & a {color: $fps-color-text-light;}
  & .left-off-canvas-toggle { margin: 0.5rem; }
}

#nav-bottom {
  @include fps-nav-bar();
  & a,
  & span {
    padding: 0.5rem;
    font-size: .7rem;
  }
}

//////////////////////////
// body
#main-card {
  background-color: $fps-color-text-light;
  box-shadow: $fps-shadow-main;
  padding: 0.5rem 2rem;
  text-align: left;
}

//////////////////////////
// page-specific
#twitter-wrapper { text-align: center; }
.contacts { margin-left: auto; margin-right: auto; }

body.index #main-card {
  color: $fps-color-text-light;
  text-shadow: fps-shadow-levitate($fps-color-shadow);
  text-align: center;
  @include fps-frosted-glass($fps-color-text-light);
}

.hero-title {
  color: $fps-color-text-light;
  font-size: 3.5rem;  //72px ~= 5.5vw
  line-height: .9;
  margin: 1rem auto 2rem;
  @media #{$medium-up} {
    font-size: 4.5rem;
    margin: 7.5rem auto 0;
  }
}
.tagline {
  font-size: 1.5rem;
  @media #{$small-only} {
      line-height: 1;
      margin-bottom: 2rem;
  }
  @media #{$medium-up} { margin-bottom: 3rem; }
}
.call-to-action { margin-bottom: 1rem; }

.fps-frame {
  border: 0.2rem solid $primary-color;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 auto 2rem;

  @include clearfix();

  .fps-frame-picture {
    // width: 30%;
    margin: 0.5rem 0.4rem;
    border-radius: 0.5rem;
    float: right;
  }

  h4 { font-style: italic; }
}

.selling-point {
  @extend .fps-frame;
  h3 { font-size: 1.5rem; }
}

.testimonial {
  @include panel($padding: 0.5rem);
  font-style: italic;
  font-size: 90%;
  @include radius(0.5rem);
}

.beseech {
  display: block;
  text-align: center;
}

.fps-game { @extend .fps-frame; }
