@import "settings";
@import "foundation.scss";
@import "fps_toolbox";
$fi-path: "../bower_components/foundation-icon-fonts"; //http://foundation.zurb.com/forum/posts/12670-foundation-icon-fonts-via-bower-help
@import "../bower_components/foundation-icon-fonts/foundation-icons";

// TODO: @Carpy , does it do that on every page? I'm just using the background-size attribute `cover `, so it should only resize when the viewport changes.
// TODO: rename functions & selectors to fps-block__element
// TODO: refactor SASS to be more compact; e.g. eliminate unnecessary rules

//////////////////////////
// universal elements selectors
body {
  font-family: Helvetica, Arial, sans-serif;
  color: $fps-color-text-dark;
  text-align: center;
  // background-image: image-url("images/IDS-640.jpg");
  // background-size: 100% auto;
  // background-attachment: scroll;
  background: image-url("images/IDS-640.jpg") top / 100% auto no-repeat scroll $primary-color;

  @media #{$medium-up} {
    // background-image: image-url("images/minneapolis-1024.jpg");
    // background-attachment: fixed;
    // background-size: cover;
    background: image-url("images/minneapolis-1024.jpg") top / cover no-repeat fixed;
  }
}

h1, h2 { text-align: center; }

//////////////////////////
// classes
.btn {
  @include button();
  @include graded-glass($primary-color, $fps-color-text-light);
}

//////////////////////////
// layout
#container-row {
  @include grid-row();
  width: 100%;

  @media #{$medium-up} { max-width: 55rem; }
  #container-column { @include grid-column($columns: 12, $center: true, $collapse: true); }
}

#sitehead {
  @include grid-row();
  .navrow { @include grid-column($columns: 12, $collapse: true); }

  margin: 0 0 0.5rem 0;
  @media #{$medium-up} { margin: 0 0 2rem 0; }

}

#sitefoot {
  @include grid-row();
  margin: 0.5rem 0 0 0;
  @media #{$medium-up} { margin: 2rem 0 0 0; }
}

//////////////////////////
// Nav area
#nav-top {
  @include nav-bar($fps-nav-height);
  #logo {max-height: $fps-logo-height; }
}

.belt-btn, .belt-label, .belt-btn:hover {
  @include graded-glass($fps-nav-belt-color, $fps-color-text-light);
  color: $fps-color-text-light;
  border-left: 1px solid adjust-color($fps-nav-belt-color, $lightness:-15%, $alpha:-0.6);
  border-right: 1px solid adjust-color($fps-nav-belt-color, $lightness:15%, $alpha:-0.6);

  @media #{$medium-up} {
    font-size: 1.2rem; //19.2px = 1.5vw = 1.2rem
  }
}
.belt-btn {
  @include transition(background-color);
  &:hover { background-color: $fps-nav-belt-color; }
}

.belt-btn.current { @include graded-glass($fps-color-text-light); }

#navbelt-small {
  @include graded-glass($fps-nav-belt-color, $fps-color-text-light);
  & a {color: $fps-color-text-light;}
  & .left-off-canvas-toggle { margin: 0.5rem; }
}

#nav-bottom {
  @include nav-bar();
  & a,
  & span {
    padding: 0.5rem;
    font-size: .7rem;
  }
}

//////////////////////////
// body
#main-card {
  background-color: $fps-color-text-light;
  box-shadow: $fps-shadow-main;
  padding: 0.5rem 2rem;
  text-align: left;
}

//////////////////////////
// page-specific
#twitter-wrapper { text-align: center; }
.contacts { margin-left: auto; margin-right: auto; }

body.index #main-card {
  color: $fps-color-text-light;
  text-shadow: shadow-levitate($fps-color-shadow);
  text-align: center;
  @include frosted-glass($fps-color-text-light);
}

.hero-title {
  color: $fps-color-text-light;
  font-size: 3.5rem;  //72px ~= 5.5vw
  line-height: .9;
  margin: 1rem auto 2rem;
  @media #{$medium-up} {
    // margin: 20vh auto 0;  //20vh = 124.4px
    font-size: 4.5rem;
    margin: 7.5rem auto 0;  //7.5rem = 120px
  }
}
.tagline {
  font-size: 1.5rem;
  @media #{$small-only} {
      line-height: 1;
      margin-bottom: 2rem;
  }
  @media #{$medium-up} { margin-bottom: 3rem; } // 5rem = 80px
}
// .call-to-action { margin-top: 10vh; margin-bottom: 5vh; } // 10vh = 62.2px; 5vh = 31.1px
.call-to-action { margin-bottom: 1rem; } // 2rem = 32px
