<footer id="sitefoot">
  <nav id="nav-bottom">
    <ul>
      <li class="hide-for-small"><span class='belt-label'>Contact:</span></li>
      <li><%= link_to '<i class="fi-social-facebook"></i> Facebook', 'https://www.facebook.com/fiercepunchstudios/', class: 'belt-btn' %></li>
      <li><%= link_to '<i class="fi-social-twitter"></i> Twitter', 'https://twitter.com/fiercepunchstud', class: 'belt-btn' %></li>
      <li><%= link_to '<i class="fi-social-github"></i> Github', 'https://github.com/FiercePunchStudios', class: 'belt-btn' %></li>
      <li><%= mail_to 'support@fiercepunchstudios.com', '<i class="fi-mail"></i> Email', class: 'belt-btn' %></li>
    </ul>
  </nav>
</header>
