<header id="sitehead" class="hide-for-small">
  <div id="logo-wrapper">
      <a href="/">
        <h3 id="title">Fierce<br/>Punch<br/>Studios</h3>
        <%= image_tag('fiercepunchicon_128.png', id: 'logo') %>
      </a>
  </div>
  <%= partial "partials/navlinks" %>
</header>
