<header id="sitehead-small" class="show-for-small">
  <a role="button" id="toggle-link" class="left-off-canvas-toggle left menu-icon" href="#"><span>Menu</span></a>
  <h3><%= nav_link('Matt Wolf Design', '/', class: 'title') %></h3>
</header>
