<nav id="navlinks">
  <ul>
    <li><%= nav_link('Home', 'index.html', class: 'btn small') %></li>
    <li><%= nav_link('Consulting', 'consulting.html', class: 'btn small') %></li>
    <li><%= nav_link('Games', 'games.html', class: 'btn small') %></li>
  </ul>
</nav>
