---
title: About
---

<h2>About</h2>

<p>Fierce Punch Studios is a consulting firm for web design, data analytics, and social media strategy.</p>

<p>We are friends and family in the Minneapolis metropolitan area, and we take pride in supporting local businesses.</p>

<div class="fps-profile">
  <%= image_tag('justin-profile-small.jpg', class: 'fps-profile-picture') %>
  <h3>Justin</h3>
  <p>Justin develops websites for human beings. His enthusiasm for human-machine
    interaction has led him through PHP, C#, Rails and even some proprietary
    medical software languages. His favorite things are pianos, kittens, and baking
    desserts with too much cinnamon.</p>
  <a href=""><i class="fi-social-linkedin"></i> LinkedIn</a>
</div>

<div class="fps-profile">
  <%= image_tag('elizabeth-profile-small.jpg', class: 'fps-profile-picture') %>
  <h3>Elizabeth</h3>
  <p>Elizabeth loves the act of sharing words and meaning. She loved it enough
    to double major in Music and Chinese Studies on the way to a MS in Information
    Management. Her eclectic experience in Taxonomy, Data Science, Statistics,
    and Web Programming helps her clients transform data into stories.</p>
  <a href=""><i class="fi-social-linkedin"></i> LinkedIn</a>
</div>
