---
title: Consulting
---

<h2>Consulting</h2>

<p>Our consulting and development services are available for contract hire. Our services include:</p>
<ul>
  <li>Web Design</li>
  <li>Web Programming</li>
  <li>Database Design and Implementation</li>
  <li>Data Analytics and Data Journalism</li>
  <li>Taxonomy</li>
</ul>

<p>Our rates vary by complexity of project, but we offer steep discounts for small businesses with a history of supporting their communities. Please <%= link_to 'contact us', 'contact.html' %> for more information!</p>
