---
title: Contact
---

<h2>Contact</h2>

<table class="contacts">
  <tbody>
    <tr><td>Email:</td><td><%= mail_to 'support@fiercepunchstudios.com' %></td></tr>
    <tr><td>Facebook:</td><td>Coming Soon</td></tr>
    <tr><td>Twitter:</td><td><%= link_to '@FiercePunchStud', 'https://twitter.com/fiercepunchstud' %></td></tr>
  </tbody>
</table>
