---
title: Home
---
<h2 class="hero-title">Fierce Punch Studios</h2>

<p class="tagline">Digital Design, Development, Consulting, and Play.</p>

<%= link_to 'Contact us for your web and data needs', '/contact.html', class: 'call-to-action btn' %>
