---
title: Home
---

<h2>Home</h2>

<p>Fierce Punch Studios is a small software and IT consulting studio that helps other small businesses learn and take advantage of technology. See our <%= link_to 'consulting', '/consulting.html' %> page for more details.</p>
